*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "System UI";
  background: rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rangeSliders {
  width: 300px;
}

input {
  -webkit-appearance: none;
  appearance: none;
  margin: 7.5px;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity 0.2s;
  outline: none;
}

input:hover {
  opacity: 1;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

span {
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  margin-right: 2px;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  color: black;
  font-size: 1rem;
}

span:hover {
  opacity: 1;
}

p {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 100;
  opacity: 0.7;
  text-align: center;
}
